*.lo
*.o
mecab-ipadic/Makefile
mecab-ipadic/char.bin
mecab-ipadic/config.log
mecab-ipadic/config.status
mecab-ipadic/matrix.bin
mecab-ipadic/sys.dic
mecab-ipadic/unk.dic
mecab/Makefile
mecab/config.h
mecab/config.log
mecab/config.status
mecab/doc/Makefile
mecab/man/Makefile
mecab/mecab-config
mecab/mecab.iss
mecab/mecabrc
mecab/src/.libs/
mecab/src/Makefile
mecab/src/Makefile.msvc
mecab/src/libmecab.la
mecab/src/mecab
mecab/src/mecab-cost-train
mecab/src/mecab-dict-gen
mecab/src/mecab-dict-index
mecab/src/mecab-system-eval
mecab/src/mecab-test-gen
mecab/stamp-h1
mecab/tests/Makefile
